{
  "presets": ["module:/Users/wim.jongeneel/appdev/modeler/Mendix.StudioPro.MacOS/bin/modeler/tools/node/node_modules/@react-native/babel-preset"],
  "plugins": [
    [
      "/Users/wim.jongeneel/appdev/modeler/Mendix.StudioPro.MacOS/bin/modeler/tools/node/node_modules/babel-plugin-inline-import",
      {
        "extensions": [".svg"]
      }
    ],
    [
      "module:/Users/wim.jongeneel/appdev/modeler/Mendix.StudioPro.MacOS/bin/modeler/tools/node/node_modules/react-native-worklets/plugin"
    ]
  ]
}